
Backend/Employeee/bin/Debug/net7.0/Employeee.dll
Backend/Employeee/bin/Debug/net7.0/Employeee.dll
Backend/Employeee/bin/Debug/net7.0/Employeee.pdb
Backend/.vs/Employeee/v17/.futdcache.v2
Backend/.vs/Employeee/v17/.suo
Backend/.vs/ProjectEvaluation/employeee.metadata.v7.bin
