
<!--HEADER-->
<header class="flex relative padding_2 header">
    <article class="relative padding_4">
        <h5 class="sub_title tag">Welcome To Bboysdreamsfell</h5>
        <h1 class="title big">Code Done Right</h1>
        <p>We provide software & graphic expertise. So you can add skills rapidly with out the need of permanent staff.</p>
        <aside class="buttons fixed_flex">
            <a href="javascript:void(0)" class="btn btn_1">Learn more</a>
            <a href="javascript:void(0)" class="btn btn_2">Contact us</a>
        </aside>
    </article>
    <aside class="social_icons flex">
        <a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a>
        <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
        <a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></a>
    </aside>
</header>



