<body>
<!--HEADER-->
<header class="flex relative padding_2 header">
    <article class="relative padding_4">
        <h5 class="sub_title tag">Welcome To Employee Management System</h5>
        <h1 class="title big">Manage Your Employees</h1>
        <p>We provide the best management system to keep and update the records of your employees</p>
        <aside class="buttons fixed_flex">
            <a href="javascript:void(0)" class="btn btn_1">Learn more</a>
            <!--<a href="javascript:void(0)" class="btn btn_2">Contact us</a>-->
        </aside>
    </article>
    <aside class="social_icons flex">
        <a href="javascript:void(0)"><i class="fa-brands fa-facebook"></i></a>
        <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
        <a href="javascript:void(0)"><i class="fa-brands fa-linkedin"></i></a>
    </aside>
</header>
</body>
<app-footer></app-footer>



