
<header class="showcase">
  <div class="showcase-content">
    <div class="showcase-top">
      <h1 style="font-family:'Times New Roman', Times, serif">LOGIN</h1>
    </div>
    <div class="formm">
        <div class="info">
          <input class="email" type="email" placeholder="Email" id="email" [(ngModel)]="Admin.username"> <br>
          <input class="email" type="password" placeholder="Password" id="password"  [(ngModel)]="Admin.password">
        </div>
        <div class="btn">
          <button class="btn-primary" type="submit" (click)="Login()" style="font-family: 'Times New Roman', Times, serif;">Sign In</button>
        </div>
       
        <div style="color:red;display: flex;justify-content: center;">{{errorMessage}}</div>
    </div>
    
  </div>
</header>


<!-- <div>
    <h2>Login</h2>
    <form (submit)="login()">
      <div>
        <label for="username"><b>Username:</b></label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div>
        <label for="password"><b>Password:</b></label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button type="submit">Login</button>
    </form>
  </div>
   -->