
<header class="showcase">
  <div class="showcase-content">
    <div class="showcase-top">
      <h1 style="font-family:'Times New Roman', Times, serif">LOGIN</h1>
    </div>
    <div class="formm">
        <div class="info">
          <input class="email" type="email" placeholder="Email" id="email" [(ngModel)]="Admin.username"> <br>
          <input class="email" type="password" placeholder="Password" id="password"  [(ngModel)]="Admin.password">
        </div>
        <div class="btn">
          <button class="btn-primary" type="submit" (click)="Login()" style="font-family: 'Times New Roman', Times, serif;">Sign In</button>
        </div>
       
        <div style="color:red;display: flex;justify-content: center;">{{errorMessage}}</div>
    </div>
    
  </div>
</header>


