<nav class="flex">
<div class="name">
<a href="javascript:void(0)" class="logo"><img src="https://cdn3.iconfinder.com/data/icons/team-management/136/19-1024.png" alt="" /></a>
<span class="name"><b>Humanize Hub</b></span> 
</div>   
<ul class="links flex">
        <li><a href="/" class="active"><b>Home</b></a></li> &nbsp; &nbsp;
        <li><a href="/about"><b>About Us</b></a></li> &nbsp; &nbsp;
        <li><a href="/contact"><b>Contact Us</b></a></li>&nbsp; &nbsp;
        <span *ngIf="isLogin;then condition1;else condition2">
               
        </span>
        <ng-template #condition1>
            <li><a href="/employee">Employee</a></li>&nbsp; &nbsp;
            <li><a href="#" style="font-weight: 1000"><button class="btn cus-btn" (click)="Logout()">Log Out</button></a></li> &nbsp; &nbsp;
        </ng-template>
        <ng-template #condition2>
        <li><a href="/login" style="font-weight: 1000"><button class="btn cus-btn">Log In</button></a></li> &nbsp; &nbsp;
    </ng-template>
        <!--<li><a href="javascript:void(0)">ABOUT</a></li>-->
    </ul>
</nav>
