<nav class="flex">
<a href="javascript:void(0)" class="logo"><img src="https://cdn3.iconfinder.com/data/icons/team-management/136/19-1024.png" alt="" /></a> 
    <ul class="links flex">
        <li><a href="/" class="active">Home</a></li> &nbsp; &nbsp;
        <li><a href="/login">Log In</a></li> &nbsp; &nbsp;
        <li><a href="/about">About Us</a></li> &nbsp; &nbsp;
        <li><a href="/contact">Contact Us</a></li>
        <!--<li><a href="javascript:void(0)">ABOUT</a></li>-->
    </ul>
</nav>
