.body{
    background-color: #181E2B;
    min-height: 100vh;
}
h1{
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 1em;
	padding-bottom: 2em;
	color: #FB667A;

}
h2 a{
	font-weight: 700;
	text-transform: uppercase;
	color: #FB667A;
	text-decoration: none;

}
label{
    margin-bottom: 1%;
}
.blue{color: #185875;}
.yellow{color: #FfF842;}
table{
    margin-top: 2%;
}
.container2 th h1{
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	color: white;

}
.container2 td{
	font-weight: normal;
	font-size: 1em;
	-webkit-box-shadow:0 2px 2px-2px #e8e9ec;
	-moz-box-shadow:0 2px 2px -2px #eaebee;
	box-shadow: 0 2px 2px -2px #e9eaeb;

}
.top-bar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container2{
	text-align: left;
	width: 80%;
    
	margin: 0 auto;
	display: table;
	padding: 0 0 8em 0;

}
.container2 td, .container2 th{
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;

}
/*Background-color of the odd rows */
.container2 tr:nth-child(odd){
	background-color: #323C50;

}
/*Background-color of the even rows*/
.container2 tr:nth-child(even){
	background-color: #2C3446;
}
.container2 th{
	background-color: #1F2739;

}
.container2 td{
	color: aliceblue;

}
.container2 td:first-child{color: #74DFEF;}

.container2 tr:hover{
	background-color: #464A52;
	-webkit-box-shadow:0 6px 6px -6px #e8eaf0;
	-moz-box-shadow:0 6px 6px -6px #ebedf1;
	box-shadow: 0 6px 6px -6px #e8e9ec;
}

.container2 td:hover{
	background-color: #FFF842;
	color: #403E10;
	font-weight: bold;
	box-shadow: #7F7C21 -1px  1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
	transform: translate3d(6px, -6px, 0);
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}
@media(max-width: 800px){
	.container2 td:nth-child(4),
	.container2 th:nth-child(4){display: none;}

	}

    .my-b {
        padding: 8px 25px;
        border: unset;
        border-radius: 15px;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 800;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms;
        overflow: hidden;
       }
       
       .my-b::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #7963F9;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px #7963F9;
        box-shadow: 4px 8px 19px -3px #7963F9;
        transition: all 250ms
       }
       
       .my-b:hover {
        color: #e8e8e8;
       }
       
       .my-b:hover::before {
        width: 100%;
       }

       .group {
        position: relative;
       }
       
       .input {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;
       }
       
       .input:focus {
        outline: none;
       }
       
       label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
       }
       
       .input:focus ~ label, .input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264AE;
       }
       
       .bar {
        position: relative;
        display: block;
        width: 100%;
       }
       
       .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
       }
       
       .bar:before {
        left: 50%;
       }
       
       .bar:after {
        right: 50%;
       }
       
       .input:focus ~ .bar:before, .input:focus ~ .bar:after {
        width: 50%;
       }
       
       .highlight {
        position: absolute;
        height: 60%;
        width: 100%;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
       }
       .group{
        margin-bottom: 4.5%;
       }
       .input:focus ~ .highlight {
        animation: inputHighlighter 0.3s ease;
       }
       
       @keyframes inputHighlighter {
        from {
         background: #5264AE;
        }
       
        to {
         width: 0;
         background: transparent;
        }
       }

       .form button {
        border: none;
        background: none;
        color: #8b8ba7;
        margin-top: -7px;
      }
      /* styling of whole input container */
      .form {
        --timing: 0.3s;
        --width-of-input: 200px;
        --height-of-input: 40px;
        --border-height: 2px;
        --input-bg: #fff;
        --border-color: #2f2ee9;
        --border-radius: 30px;
        --after-border-radius: 1px;
        position: relative;
        width: var(--width-of-input);
        height: var(--height-of-input);
        display: flex;
        align-items: center;
        padding-inline: 0.8em;
        border-radius: var(--border-radius);
        transition: border-radius 0.5s ease;
        background: var(--input-bg,#fff);
      }
      /* styling of Input */
      .input {
        background-color: transparent;
        width: 100%;
        height: 100%;
        padding-inline: 0.5em;
        padding-block: 0.7em;
        margin-top: -2px;
      }
      /* styling of animated border */
      .form:before {
        content: "";
        position: absolute;
        background: var(--border-color);
        transform: scaleX(0);
        transform-origin: center;
        width: 100%;
        height: var(--border-height);
        left: 0;
        bottom: 0;
        border-radius: 1px;
        transition: transform var(--timing) ease;
      }
      /* Hover on Input */
      .form:focus-within {
        border-radius: var(--after-border-radius);
      }
      
      .input:focus {
        outline: none;
      }
      /* here is code of animated border */
      .form:focus-within:before {
        transform: scale(1);
      }
      /* styling of close button */
      /* == you can click the close button to remove text == */
      .reset {
        border: none;
        background: none;
        opacity: 0;
        visibility: hidden;
      }
      /* close button shown when typing */
      input:not(:placeholder-shown) ~ .reset {
        opacity: 1;
        visibility: visible;
      }
      /* sizing svg icons */
      .form svg {
        width: 17px;
        margin-top: 3px;
      }